<div class="flex flex-row justify-center w-full py-4">
	<div class="mx-8">
		<NavLink class="" href="" Match="NavLinkMatch.All">
			Home
		</NavLink>
	</div>
	<div class="mx-8">
		<NavLink class="" href="admin">
			Admin
		</NavLink>
	</div>
</div>