@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-sm {
            column-gap: 1.5em;
            column-count: 2;
        }
        .masonry-md {
            column-gap: 1.5em;
            column-count: 3;
        }
        .masonry-lg {
            column-gap: 1.5em;
            column-count: 4;
        }
        .masonry-xl {
            column-gap: 1.5em;
            column-count: 5;
        }
        .masonry-2xl {
            column-gap: 1.5em;
            column-count: 6;
        }
        .break-inside-avoid {
            break-inside: avoid;
        }
    }
}