@page "/"
@* @inject BookriofyGraphqlClient BookriofyGraphqlClient; *@
@implements IDisposable
@using Bookriofy.Data;

<PageTitle>Books</PageTitle>

<ul>
	@* @foreach (IBookShort book in books) *@
	@* { *@
	@* <li><button @onclick="() => OnClickSession(session)"><span class="oi oi-pencil mr-2" *@
	@* aria-hidden="true"></span></button> @session.Title</li> *@
	@* } *@
</ul>

@code {
	@* private IBookShort[] books = Array.Empty<IBookShort>(); *@
	private IDisposable storeSession;

	protected override void OnInitialized()
	{

		/*
		storeSession = BookriofyGraphqlClient
		.GetBooks
		.Watch(StrawberryShake.ExecutionStrategy.CacheFirst)
		.Where(t => !t.Errors.Any())
		.Subscribe(result =>
		{
		if (books != null)
		{
		books = result;
		}
		StateHasChanged();
		});
		*/
	}

	public void Dispose()
	{
		storeSession?.Dispose();
	}
}