<div
	class="flex flex-row md:flex-wrap lg:flex-nowrap items-center justify-between py-32 sm:w-full md:w-full lg:w-11/12 xl:w-10/12 2xl:w-9/12 3xl:w-8/12 4xl:w-7/12">
	<div>
		<div class="flex flex-row items-end sm:mx-0 px-14">
			<div class="w-60 mr-24">
				<img src="book_placeholder.png" alt="book" />
			</div>
			<div class="w-52">
				<img src="book_placeholder.png" alt="book" />
			</div>
		</div>
		<LandingPagePhysicalShelf />
	</div>

	<div>
		<Review
			ReviewText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a imperdiet leo, ut luctus augue."
			ReviewerName="CptFragStealer89" AvatarImgSrc="nonexistingperson_2a37.jpg" />
		<Review ReviewText="Nullam quis pulvinar quam. Proin dignissim tristique dolor id laoreet."
			ReviewerName="Phil Jones, PhD" AvatarImgSrc="nonexistingperson-8583.jpg" />
	</div>
</div>
