<div class="flex flex-row my-12">
	@if (AvatarImgSrc != null)
	{
		<img class="rounded-full w-16 h-16" src="@AvatarImgSrc" alt="avatar" />
	}
	else
	{
		<div class="rounded-full w-16 h-16 bg-primary-2">
		</div>
	}

	<div class="flex flex-col w-80 ml-4">
		<p><i>"@ReviewText"</i></p>
		<p>@ReviewerName</p>
	</div>
</div>

@code {
	[Parameter]
	public string ReviewText { get; set; } = "Review text";

	[Parameter]
	public string ReviewerName { get; set; } = "Reviewer name";

	[Parameter]
	public string? AvatarImgSrc { get; set; }
}
